@model EventManagerADV.Models.Volunteer

<h1>Details van vrijwilliger</h1>

<div>
    <h4>Vrijwilliger</h4>
    <dl class="row">
        <dt class="col-sm-2">Naam</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Bewerken</a>
<a asp-action="Index" class="btn btn-secondary">Terug naar overzicht</a>
