@model EventManagerADV.Models.Category

<h1>Nieuwe Categorie</h1>

<form asp-action="Create">
    <div class="form-group">
        <label for="Name">Naam</label>
        <input type="text" class="form-control" id="Name" name="Name" />
    </div>
    <button type="submit" class="btn btn-primary">Opslaan</button>
    <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
</form>
