<h2>Registratie geslaagd</h2>
<p>Controleer je e-mail om je account te bevestigen. Zodra je je account hebt bevestigd, kun je inloggen.</p>

<p>Heb je geen e-mail ontvangen? Controleer je spamfolder of probeer opnieuw te registreren met een correct e-mailadres.</p>
